.app{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding:10px;
  text-align: center;
  gap:10px;
  align-items: stretch;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
}

.todo-list,
.completed-todo-list{
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap:10px;
  min-width: 500px;
}

.todo-list li,
.completed-todo-list li{
  display: flex;
  justify-content: space-between;
  background-color: rgb(228,225,211);
  padding: 10px;
  border-radius: 5px;
}

.todo-list li span,
.completed-todo-list li span{
  flex-grow: 1;
  text-align: center;
}

.todo-lists-container {
  display: flex;
  gap: 10px;
}

.todo-list-card {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(240,240,240);
  min-height: 300px;
}

h2 {
  padding: 0;
  margin: 5px;
  text-align: left;
  font-size: 16px;
}

.to-left,
.to-right {
  background-color: rgb(111, 144, 62);
}

.edit-btn,
.submit-btn {
  background-color: rgb(46, 116, 214);
}

.delete-btn {
  background-color: rgb(237, 57, 57);
}

button {
  margin: 0 3px;
  border-radius: 3px;
  padding:3px 8px;
  color:white;
  border-width: 0;
  cursor: pointer;
}

.todo-list .edit-input {
  position: absolute;
  width: 330px;
}
.completed-todo-list .edit-input {
  position: absolute;
  left: 53px;
  width: 330px;
}

.todo-list-card {
  position: relative;
}

.hidden {
  display: none;
}